<%= form_for @relative do |f| %>
  <%= render "shared/error_messages", object: @relative %>

<div class="form-group">
  <%= f.label :first_name %>
  <%= f.text_field :first_name, class: 'form-control' %>
</div>

<div class="form-group">
  <%= f.label :second_name %>
  <%= f.text_field :second_name, class: 'form-control' %>
</div>

<div class="form-group">
  <%= f.label :born %>
  <%= f.text_field :born, class: 'form-control' %>
</div>

<div class="form-group">
  <%= f.label :maiden_name %>
  <%= f.text_field :maiden_name, class: 'form-control' %>
</div>

<div class="form-group">
  <%= f.label :family_status %>
  <%= f.text_field :family_status, class: 'form-control' %>
</div>

<div class="form-group">
  <%= f.label :children %>
  <%= f.text_field :children, class: 'form-control' %>
</div>

<div class="form-group">
  <%= f.label :description %>
  <%= f.trix_editor :description, class: 'trix_editor' %>
</div>

<%# f.file_field :picture %>
<div class="img-field">
    <%= f.label :image %>
    <%= f.file_field :image %>
</div>
<br>
<div class="btn-form">
  <%= f.submit class: 'btn btn-success' %>
</div>

<% end %>
