<% if relative.published %>
  <div class="product-card text-center products" style="width: 20rem">
    <div class="card-body">
      <%= link_to (image_tag relative.images[0].url(:small) if relative.images.present?), relative_path(relative) %>
      <h2><%= link_to relative.first_name, relative_path(relative), class: 'Link_show_relative' %></h2>
      <% if relative.maiden_name.present? %>
        <h2><%= relative.second_name %>(<%= relative.maiden_name %>)</h2>
      <% else %>
        <h2><%= relative.second_name %></h2>
      <% end %>
      <h2><%#= sanitize relative.description.truncate(15) %></h2>
    </div>
    <%#= link_to 'show', relative_path(relative), class: 'btn btn-success btn-sm' %>
    <%#= link_to 'edit', edit_relative_path(relative), class: 'btn btn-warning btn-sm' %>
    <%#= link_to "delete", relative, method: :delete, data: { confirm: "You sure?" }, class: 'btn btn-danger btn-sm' %>
  </div>
<% end %>
