<%# if logged_in? %>
<% if user_signed_in? %>
  <div class="row">
    <div class="col-md-2.5">
      <% if @user.categories.present? %>
        <%= render 'categories_index' %>
      <% else %>
      <div class="categ_text">
        <%= t('.no_categ') %>
      </div>
        <!-- <br> -->
        <%= link_to "New", new_category_path, class: 'btn btn-danger btn-sm categ_btn' %>
      <% end %>
    </div>
    <div class="users_main col-md-8.5 row">
        <% if @user.relatives.present? %>
          <%= render @relatives %>
        <% else %>
          <h2 class="col-10 text-center relat_text"><b><%= t('.text') %></b></h2>
        <% end %>
    </div>
  </div>
  <%= paginate @relatives %>
<% else %>
  <%= render template: 'users/sessions/new' %>
<% end %>
