<% if logged_in? %>
  <div class="row">
    <div class="col-md-2">
      <% if @user.categories.present? %>
        <%= render 'categories_index' %>
      <% else %>
        <%= t('.no_categ') %>
        <br>
        <%= link_to "New", new_category_path, class: 'btn btn-danger btn-sm' %>
      <% end %>
    </div>
    <div class="users_main col-md-10 row">
        <% if @user.relatives.present? %>
          <%= render @relatives %>
        <% else %>
          <h2 class="col-10 text-center"><b><%= t('.text') %></b></h2>
        <% end %>
    </div>
  </div>
  <%= will_paginate @relatives %>
<% else %>
  <%= render 'sessions/login' %>
<% end %>
