<% provide(:title, "#{@relative.first_name} #{@relative.second_name}") %>
<div class="show_relative">
    <%#= image_tag(@relative.image_url(:thumb), alt: 'Image') if @relative.image? %>
      <%= render 'images' %>
    <br>
    <% if @relative.maiden_name.present? %>
      <h2><%= @relative.first_name %> <%= @relative.second_name %>(<%= @relative.maiden_name %>)<h2>
    <% else %>
    <h2><%= @relative.first_name %> <%= @relative.second_name %></h2>
    <% end %>
  <!-- <br> -->
  <h2><%= @relative.born %></h2>
  <!-- <br> -->
  <h2><%= @relative.family_status %></h2>
  <!-- <br> -->
  <h2><%= @relative.children if @relative.children.present? %></h2>
  <h2><%= sanitize @relative.description %></h2>
</div>
