<%= form_tag user_path(@user), method: :put do  %>
  <%= render "shared/errors", object: @user %>

  <div class="form-group category_group">
    <% (User.all - [current_user]).each do |c| %>
      <%= label_tag :collaborator_name,  c.name %>
      <%= check_box_tag "collaborator_ids[]", value: c.id %>
      <br>
    <% end %>
  </div>
  <%= submit_tag %>

  <% end %>
