<h1><%= @user.full_name %></h1>
<%= link_to "view my profile", @user %>

<% if @users.any? %>
  <div class="">
    <% @users.each do |user| %>
      <%= link_to (image_tag user.image.url(:small) ), user if user.image.present? %>
    <% end %>
  </div>
<% end %>
<div class="col-md-8">
  <h3><%= @title %></h3>
  <% if @users.any? %>
    <ul class="users follow">
      <%= render @users %>
    </ul>
  <% end %>
</div>
