  <nav class="navbar navbar-light bg-light">
    <div class="col-md-9 row">
    <%= link_to (image_tag "tree.jpg", class: 'tree_img'), root_path %>
    <% if logged_in? %>
      <%= link_to "All relatives", root_path, class: 'navbar_link'%>
      <%= link_to "New relative", new_relative_path(@user), class: 'navbar_link' %>

      <%= form_tag relatives_path, method: :get, class: "form-inline my-2 my-lg-0 search_form" do %>
      <%= text_field_tag(
          :search,
          params[:search],
          placeholder: "Search",
          class: "form-control mr-sm-2", id: "search"
          ) %>
          <%= submit_tag "Search", class: 'btn btn-outline-success my-2 my-sm-0' %>
  <% end %>
  </div>
    <div class="col-md-3 row">
        <%= link_to(image_tag(@user.image.mini.url, alt: "Img", class: "mini_image"), user_path(@user)) if @user.image.url.present? %>
      <div class="dropdown">
        <button class="btn btn_dropdown btn-secondary btn-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <%= @user.name.truncate(8) %>
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <%= link_to "Profile", current_user, class: "dropdown-item" %>
        <hr>
          <%= link_to "Settings", edit_user_path(current_user), class: "dropdown-item" %>
        <hr>
          <%= link_to "Log out", logout_path, method: :delete, class: "dropdown-item" %>
        </div>
      </div>
    </div>
    <% elsif signup_path %>
      <%= link_to "Log in", login_path, class: 'navbar_link' %>
    <% end %>
  </nav>
